@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  height: 100%;
  font-family: 'Pretendard-Regular';
  --backgroundColor: #ebf2fa;
  --fontColor: #1d1d1f;
  --fontColorSky: #62cdff;
  --fontColorOrange: #fb8500;
  --fontColorSilver: rgba(110, 110, 115, 0.43);
  /* --fontColorSilver: #b2b2be; */

  --blue1: #00a8e8;
  --blue2: #0ba5be;
  --blue3: #62cdff;
  --orange: #fb8500;

  /* --fontColor: #191f28; */
  /* --backgroundColorApple: #f5f5f7;
  --backgroundColor: #edf2fb;
  --backgroundColor: #e7ecef; */
}

:root[class='dark'] {
  --backgroundColor: #1f1f20;
  --fontColor: #ececf1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
